#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>

    <div class="objectForm">
    #{form action:@create(), enctype:'multipart/form-data'}
        #{crud.form}
        #{crud.custom 'user'}
      	  <input type="hidden" name="object.user.id" value="${connectedUser.id}" />
        #{/crud.custom}
        
        #{crud.custom 'destination'}
        	<label for="destination">Destination</label>
	        #{select 'object.destination.id'}
		        #{list items:availableLocations, as:'destination'}
		            #{option destination.id}${destination.name}#{/option}
				#{/list}
	        #{/select}
        #{/crud.custom}

        #{crud.custom 'origin'}
        	<label for="origin">Origin</label>
	        #{select 'object.origin.id'}
		        #{list items:availableLocations, as:'origin'}
		            #{option origin.id}${origin.name}#{/option}
				#{/list}
	        #{/select}
        #{/crud.custom}
        
        #{crud.custom 'description'}
			<label for="content">Description </label>
        	<textarea name="object.description" id="object.description"></textarea>
        #{/crud.custom}
        #{/crud.form}
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.modelName}" />
        </p>
    #{/form}
    </div>

</div>