#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div id="crudShow" class="${type.name}">

    <h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>

    <div class="objectForm">
    #{form action:@save(object._key()), enctype:'multipart/form-data'}
        #{crud.form}
        #{crud.custom 'user'}
        #{/crud.custom}
        
        #{crud.custom 'description'}
			<label for="content">Description </label>
        	<textarea name="object.description" id="object.description">${object.description}</textarea>
        #{/crud.custom}

        #{crud.custom 'origin'}
	        *{****
	        #{if connectedUser.isAdmin}
	        	<label for="origin">Origin</label>
		        #{select 'object.origin.id'}
			        #{list items:availableLocations, as:'origin'}
			            #{option origin.id}${origin.name}#{/option}
					#{/list}
		        #{/select}
		    #{/if}
		    #{else}
		    ****}*
        	<label for="origin">Origin</label>
        	<input id="object_origin" type="text" name="object.origin" value="${object.origin}" disabled />
		    *{****
		    #{/else}
		    ****}*
        #{/crud.custom}

        #{crud.custom 'destination'}
	        *{****
	        #{if connectedUser.isAdmin}
	        	<label for="destination">Destination</label>
		        #{select 'object.destination.id'}
			        #{list items:availableLocations, as:'destination'}
			            #{option destination.id}${destination.name}#{/option}
					#{/list}
		        #{/select}
		    #{/if}
		    #{else}
        	****}*
        	<label for="destination">Destination</label>
        	<input id="object_destination" type="text" name="object.destination" value="${object.destination}" disabled />
		    *{****
		    #{/else}
		    ****}*
        #{/crud.custom}

        #{crud.custom 'aircargo'}
	        #{if connectedUser.isAdmin}
	        	<label for="aircargo">Shipper</label>
		        #{select 'object.aircargo.id'}
			        #{list items:availableAirCargo, as:'aircargo'}
			            #{option aircargo.id}${aircargo.name}#{/option}
					#{/list}
		        #{/select}
		    #{/if}
		    #{else}
        	<label for="aircargo">Shipper</label>
        	<input id="object_aircargo" type="text" name="object.aircargo" value="${object.aircargo}" disabled />
		    #{/else}
        #{/crud.custom}
        #{/crud.form}
        
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
        </p>
    #{/form}
    </div>

	#{if object.aircargo = null}
    #{form @delete(object._key())}
        <p class="crudDelete">
            <input type="submit" value="&{'crud.delete', type.modelName}" />
        </p>
    #{/form}
    #{/if}

</div>